* {
    margin: 0;
    padding: 0;
}



html,body {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: black ;
} 


/* linear-gradient(180deg, black, rgb(40,40,40) ) no-repeat */



h1 {
    margin-top: 3700px;
    color: whitesmoke;
    font-size: 12.9rem;
    text-align: center;
    animation: glow 8s infinite linear, fade-in 2s ease-in-out forwards;
}


h1::before {
   content: url(leaf.png);
   position: relative;
   top: 130px;
   right: 20px;
   opacity: 0; 
   animation: fade-in 1s ease-in-out forwards;
}


@keyframes glow {
    0%, 100% {
        text-shadow: 0 0 5px rgba(50, 60, 90, 0.5),
                     0 0 7px rgba(83, 190, 180, 0.5),
                     0 0 10px rgba(210, 225, 250, 0.5);
    }
    50% {
        text-shadow: 0 0 7px rgba(50, 160, 90, 1),
                     0 0 12px rgba(83, 190, 180, 1),
                     0 0 15px rgba(210, 225, 250, 1);
    }

    25% {
        text-shadow: 0 0 7px rgba(50, 60, 90, 0.7),
        0 0 17px rgba(83, 190, 180, 0.7),
        0 0 25px rgba(210, 225, 250, 0.7);
    }
}

@keyframes fade-in {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

  @media only screen and (max-width: 600px) {
    
h1 {
    color: whitesmoke;
    font-size: 5.5rem;
    text-align: center;
    animation: glow 8s infinite linear, fade-in 2s ease-in-out forwards;
}


h1::before {
   content: url(leaf.png);
   position: relative;
   top: 80px;
   right: 10px;
   opacity: 0; 
   animation: fade-in 1s ease-in-out forwards;
}

 }



#video-container {
    display: relative;
    padding: 10px; /* Adjust padding as needed */
    border-radius: 15px; 
    margin-top: 380px;
    margin-bottom: 200px;

}

#video-container video {
    display: block;
    width: 100%; /* Adjust as needed */
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5), 0 0 40px rgba(0, 255, 255, 0.5), 0 0 60px rgba(0, 255, 255, 0.5);
    transition: box-shadow 0.3s ease-in-out;
}


#video-container:hover video:hover {
    box-shadow: 0 0 50px rgba(0, 255, 255, 0.7), 0 0 70px rgba(0, 255, 255, 0.7), 0 0 95px rgba(0, 255, 255, 0.7);
}


h2 {
    color: whitesmoke;
    font-size: 12.5rem;
    text-align: center;
    animation: glow 8s infinite linear, fade-in 2s ease-in-out forwards;
    margin-top: 600px;
}



.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    width: 100%; 
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5), 0 0 40px rgba(0, 255, 255, 0.5), 0 0 60px rgba(0, 255, 255, 0.5);
    transition: box-shadow 0.3s ease-in-out;
  }



   
p {
padding: 15px;

}

#logos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    animation: glow 8s infinite linear, fade-in 2s ease-in-out forwards;
}

#npm {
    margin-left: 80px;
    margin-right: -30px;
}

.links:hover {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5), 0 0 40px rgba(0, 255, 255, 0.5), 0 0 60px rgba(0, 255, 255, 0.5); 
    transition: box-shadow 0.3s ease-in-out;
}
