* {
    margin: 0;
    padding: 0;
}



html,body {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(180deg, black, rgb(40,40,40) ) no-repeat;
} 




#image {
    width: 20%;
    height: auto;
}


h1 {
    color: whitesmoke;
    font-size: 6rem;
    text-align: center;
    animation: glow 3s infinite linear;
}



@keyframes glow {
    0%, 100% {
        text-shadow: 0 0 5px rgba(50, 60, 90, 0.5),
                     0 0 10px rgba(83, 190, 180, 0.5),
                     0 0 15px rgba(210, 225, 250, 0.5);
    }
    50% {
        text-shadow: 0 0 10px rgba(50, 60, 90, 1),
                     0 0 20px rgba(83, 190, 180, 1),
                     0 0 30px rgba(210, 225, 250, 1);
    }

    25% {
        text-shadow: 0 0 7px rgba(50, 60, 90, 0.7),
        0 0 17px rgba(83, 190, 180, 0.7),
        0 0 25px rgba(210, 225, 250, 0.7);
    }
}